* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: #928c7a;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input {
  width: 16.5rem;
  height: 2rem;
  color: aliceblue;
  background-color: #1f1e1b;
  border: 1px solid #ff8303;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 0.5rem;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.todo-add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.add {
  margin-left: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #1f1e1b;
  border: 1px solid #ff8303;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ff8303;
  cursor: pointer;
}
.add:hover {
  transition: all 500ms ease-in;
  background-color: #ff8303;
  color: #1f1e1b;
}
.bstyle {
  width: 2rem;
  height: 2rem;
  background-color: #1f1e1b;
  border: 1px solid #ff8303;
  border-radius: 5px;
  font-size: 1rem;
  color: #ff8303;
  cursor: pointer;
  margin-top: 0.25rem;
  margin-bottom: 0.25;
}
li {
  width: 22rem;
  min-height: 5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  background-color: #1f1e1b;
  border: 1px solid #ff8303;
  border-radius: 1rem;
  font-size: 20px;
  padding: 0 1rem 0 1rem;
}
.todo-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 0.5rem;
}
.fa-trash {
  color: rgb(255, 136, 0);
  cursor: pointer;
}
.fa-check {
  color: aqua;
}
.pContainer{
  display: flex;
  justify-content: center;
  max-width: 15rem;
  flex-direction: column;
  word-wrap:break-word;
  padding: 1rem 0 1rem 0;
}
h1 {
  text-align: center;
  padding-top: 2rem;
  color: #e69720;
}
.pTitleText{
  color: #ff8303;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .input {
    width: 15rem;
  }
  .todos {
    width: 15rem;
  }
  .todo-about {
    max-width: 3rem;
  }
  p {
    width: 10rem;
  }
}
